
.book-pager-wrapper {
   overflow-y: auto;
   height: min(calc(var(--page-count) * 4px), 75vh);
   max-height: 90vh;
    
   &::-webkit-scrollbar {
       display: none;
   }

}
.book-pager {
    --label-height: 1.25rem;
    position: relative;
    width: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    height: calc(var(--page-count) * 4px);
    cursor: default;
    touch-action: none;
    user-select: none;
    min-width: 2.5rem;
   
    .lines {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .line {
        display: flex;
        align-items: center;
        cursor: pointer;
        flex-grow: 1;

        &::after {
            width: 1rem;
            background: #857F89bb;
            height: 1px;
            margin-left:0.5rem;
            content: ' ';
        }

        &.with-citations::after {
            border-color: #343959;
            height: 2px;
            width: 1.25rem;
        }
        &.with-many-citations::after {
            border-color: #545979;
            height: 2px;            
            width: 1.5rem;
        }


        &.near, &.hovered {
            line-height: 1.2;
            padding: 0;
        }

        &.near {
            font-size: 0.625rem;
            padding-left: 0.125rem;
            
            &::after {
                padding-left: 1rem;
            }
        }

        &.near.near-after {
            font-size: 0.5rem;            
        }
        &.near.near-before {
            font-size: 0.5rem;            
        }

        &.hovered {
            font-size: 0.75rem;
            padding-left: 0rem;
            &::after {
                display: none;
            }

            &.with-many-citations {            
                color: #545979;
                font-weight: bold;
            }
            &.with-citations {
                color: #343959;
                font-weight: bold;
            }
        }
    }

    &[data-state='hovering'] {
        cursor: pointer;
    }
}
