header.site-header {
    background: white;
    border-bottom: 1px solid var(--light-accent);
    padding: 0.6125rem;
    padding-left: 0.825rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    z-index: 200;

    .site-name {
        font-family: playfair display, crimson text, serif;
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        align-items: center;        

        #site-logo {
            height: 1.6125rem;
            width: 1.6125rem;
        }

        > div {
            color: var(--primary-color);
            font-size: 1.25rem;
        }
    }

    .separator {
        margin-left: 0.5rem;
        display: flex;
        width: 1px;
        height: 1rem;
        align-self: center;
        background-color: var(--gray-purple);
    }

    nav {
        height: 1.6125rem;
        padding-top: 0.125rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        font-size: 0.825rem;

        a {
            font-family: pt sans;
            text-transform: uppercase;
            color: var(--gray-purple);

            &:hover, &:focus {
                font-weight: bold;
            }
        }
    }
}
